{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'weblog/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
  </head>
  <body>
    {% block navbar %}
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'weblog:index' %}">Awesome posts >>></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% load navigation_tag %}
              <a class="nav-link {% active_link request 'index' %}" href="{% url 'weblog:index' %}">Posts</a>
              <a class="nav-link" href="#">Add tag</a>
              <a class="nav-link {% active_link request 'registry' %}" href="{% url 'accounts:registry' %}">Register</a>
              <a class="nav-link {% active_link request 'login' %}" href="{% url 'accounts:login' %}">Login</a>
              {% comment %} <a class="nav-link {% active_link request 'logout' %} " href="{% url 'accounts:logout' %}">Logout</a> {% endcomment %}
              <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class=" nav-link" > Logout</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
    {% endblock navbar %} {% block content %} {% endblock content %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

